@charset "UTF-8";
body{
    background-color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: darkblue;
    background-color: lightblue;
}
h2{
    color: rgb(0, 46, 80);
}
p{
    text-align: justify;
}