@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #D8BDE2, #C59FD8);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8e739b;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #9E79B3;
    text-align: center;
    text-shadow: 1px 1px 2px #685175;
}
h2{
    color: #685175;
}
p{
    text-align: justify;
}

